@import "./mixin.scss";

$color-light: #fff;
$color-dark: #222f3e;
$color-background: #c8d6e5;
$color-primary: #ff9f43;
$color-secondary: #218c74;
$color-success: #3968cf;
$color-warning: #e1644e;

$font-header: "Montserrat", sans-serif;
$font-text: "Source Sans Pro", sans-serif;

$base-unit: 1rem * 1.25;

$radius: $base-unit * 0.25;
$transition: all 0.5s;

$fw-regular: 400;
$fw-bold: 700;

$br-mobile: 360px;
$br-tablet: 768px;
$br-desktop: 1200px;
