@import "../../../styles/settings.scss";

.component {
  background: $color-dark;
  padding: $base-unit * 0.9 0;
  color: $color-light;

  @include max-media($br-tablet) {
    text-align: center;
  }
}

.logo {
  color: $color-light;
  font-size: $base-unit * 1.2;
}

.name {
  position: relative;
  top: $base-unit * -0.15;
  left: $base-unit * 0.6;
  font-family: $font-header;
  text-transform: lowercase;
  font-size: $base-unit * 0.9;
}
