@import "../../../styles/settings.scss";

.component {
  width: 100%;
  margin-bottom: $base-unit * 1.2;

  input {
    width: 100%;
    background: $color-light;
    border: $base-unit * 0.05 solid lighten($color-dark, 60%);
    padding: $base-unit * 0.6 $base-unit * 0.9;
    margin: 0 0 $base-unit * 0.6 0;
    font-family: $font-text;
    border-radius: $radius;
  }
}

.checkboxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: $base-unit * 0.6;

  @include max-media($br-mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  height: 0;
  transition: all 200ms;

  &.buttonsShown {
    opacity: 1;
    height: $base-unit * 2;
  }

  > * {
    flex-grow: 1;
    flex-basis: 0;

    &:first-child {
      margin: 0;

      ~ * {
        margin: 0 0 0 $base-unit * 0.6;
      }
    }
  }
}
