@import "../../../styles/settings.scss";

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $color-light;
  display: inline-block;
  margin-left: $base-unit * 0.4;
  animation: fadeIn 1s;

  &:first-of-type {
    margin-left: 0;
  }

  span {
    display: block;
    width: $base-unit * 0.6;
    height: $base-unit * 0.6;
    border-radius: $base-unit * 0.3;
    background-color: $color-background;
    font-size: 0;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: $color-primary;
    }
  }
}
