@import "../../../styles/settings.scss";

.component {
  margin-bottom: $base-unit * 0.6;
  border-bottom: $base-unit * 0.15 solid $color-primary;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    border-bottom: $base-unit * 0.15 solid $color-success;
  }

  input[type="checkbox"] {
    height: $base-unit;
    width: $base-unit;
    padding: $base-unit * 0.35 $base-unit * 0.35 $base-unit * 0.35 $base-unit * 0.6;
    background: $color-light;
    border: $base-unit * 0.05 solid $color-background;

    -webkit-appearance: none;
    -webkit-border-radius: $base-unit * 0.2;
    -moz-border-radius: $base-unit * 0.2;
    border-radius: $base-unit * 0.2;
  }

  input[type="checkbox"]:checked {
    position: relative;
  }
  input[type="checkbox"]:checked:before {
    content: "";
    display: block;
    width: $base-unit * 0.85;
    height: $base-unit * 0.8;
    position: absolute;
    top: $base-unit * 0.05;
    left: $base-unit * 0.05;
    background: $color-primary;
    -webkit-border-radius: $base-unit * 0.15;
    -moz-border-radius: $base-unit * 0.15;
    border-radius: $base-unit * 0.15;
  }
}
